<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Shopping List App</title>
  </head>
  <body>
    <div id="shopping-list">
      <div>
          <h1>{{ header.toLocaleUpperCase() }}</h1>
          <button v-if="state === 'default'"class="btn btn-primary">Add Item</button>
          <button v-else class="btn btn-cancel">Cancel</button>
      </div>  
      <div v-if="state === 'edit' "class="add-item-form">
        <input v-model="newItem" type="text" placeholder="Add an item" @keyup.enter="saveItem">
        <button class="btn btn-primary" @click="saveItem">Save Item</button>
      </div>
      <ul>
        <li v-for="item in items">{{ item }}</li>
      </ul>
      <p v-if="items.length === 0">Nice job! you've bought all your items!</p>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
    var shoppingList = new Vue({
      el: '#shopping-list',
      data: {
        state: 'default',
        header: 'shopping list app',
        newItem: '',
        items: [
          // '10 party hats',
          // '2 board games',
          // '20 cups'
        ]
      },
      methods: {
        saveItem: function() {
          this.items.push(this.newItem);
        }
      }
    });
    </script>
    <!-- built files will be auto injected -->
  </body>
</html>
